:root {
  --red: #f03f3b;
  --pink: rgba(240, 63, 59, 0.2);
  --blue: #0957c3;
  --light-blue: rgba(9, 87, 195, 0.2);
  --green: #103931;
  --light-green: rgba(16, 57, 49, 0.2);
  --white: #fbfbfb;
  --background-primary: #f3f3f3;
  --background-hero: #fbfbfb;
  --text-grey: rgba(17, 16, 28, 0.5);
  --text-black: #11101c;
  --text-filter: #8a8a89;
  --text-price: #38cd3e;
  --background-star: #ffc531;
  --button-border: rgba(251, 251, 251, 0.4);
}
